@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* wireframe */
  --color-light-100: var(--color-white);
  --color-light-200: var(--color-neutral-100);
  --color-light-300: oklch(94% 0 0);
  --color-light-text: var(--color-neutral-900);
  --color-light-border: rgb(115, 115, 115);
  --color-light-link: var(--color-sky-800);
  --color-light-green: var(--color-emerald-800);
  --color-light-red: var(--color-red-800);

  /* dim */
  --color-dark-100: oklch(30.857% 0.023 264.149);
  --color-dark-200: oklch(28.036% 0.019 264.182);
  --color-dark-300: oklch(26.346% 0.018 262.177);
  --color-dark-text: oklch(82.901% 0.031 222.959);
  --color-dark-border: rgb(127, 141, 152);
  --color-dark-link: oklch(86.133% 0.141 139.549);
  --color-dark-green: oklch(86.171% 0.142 166.534);
  --color-dark-red: oklch(82.418% 0.099 33.756);
}

@custom-variant dark (&:where(.dark, .dark *));

.inline-code {
  @apply rounded bg-light-300 text-light-text dark:text-dark-text dark:bg-dark-300 px-1 py-0.5 font-mono text-sm;
}
