@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* wireframe */
  --color-light-100: oklch(100% 0 0);
  --color-light-200: oklch(97% 0 0);
  --color-light-300: oklch(94% 0 0);
  --color-light-400: oklch(20% 0 0);
  --color-light-500: rgb(115, 115, 115);
  --color-light-600: oklch(44% 0.11 240.79);

  /* dim */
  --color-dark-100: oklch(30.857% 0.023 264.149);
  --color-dark-200: oklch(28.036% 0.019 264.182);
  --color-dark-300: oklch(26.346% 0.018 262.177);
  --color-dark-400: oklch(82.901% 0.031 222.959);
  --color-dark-500: rgb(127, 141, 152);
  --color-dark-600: oklch(86.133% 0.141 139.549);
}

@custom-variant dark (&:where(.dark, .dark *));



.inline-code {
  @apply rounded bg-light-300 text-light-400 dark:text-dark-400 dark:bg-dark-300 px-1 py-0.5 font-mono text-sm;
}
